@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: Poppins, sans-serif;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: poppins;
}
ul, ul.nav {
	list-style: none;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}
header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}
header h2 span {
	color: #bf0a30;
}
header ul.nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
header ul.nav li {
	margin: 0 15px;
}
header ul.nav li:first-child {
	margin-left: 0;
}
header ul.nav li:last-child {
	margin-right: 0;
}
@media(max-width:1000px) {
	header {
		padding: 20px 50px;
	}
}
@media (max-width:700px) {
	header {
		flex-direction: column;
	}
	header h2 {
		margin-bottom: 15px;
	}
	header ul.nav li {
		margin: 0 7px;
	}
	.about-right p {
		display: none;
	}
}
/*banner area*/

section {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 0px;
	color: blue;
	opacity: 0.9;
}
@media (max-width:1000px) {
	section {
		padding: 100px 50px;
	}
}
@media (max-width:600px) {
	section {
		padding: 125px 30px;
	}
}
section p {
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}
.banner-area {
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}
.banner-area .banner-img {
	background-image: url(https://images.unsplash.com/photo-1523367368840-7d3a303cf191?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=773&q=80);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	z-index: -1;
	background-position: center center;
}
.banner-area .banner-img::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: blue;
	opacity: .7;
}
.banner-area h1 {
	margin-bottom: 15px;
	font-size: 65px;
	text-transform: uppercase;
}
.banner-area h1 span {
	color: #bf0a30;
}
.banner-area h3 {
	font-size: 25px;
	font-weight: 100;
	text-transform: uppercase;
}

.banner-area a.banner-btn {
	padding: 15px 35px;
	background: #bf0a30;
	text-transform: uppercase;
}
@media (max-width:800px) {
	.banner-area {
		min-height: 600px;
	}
	.banner-area h1 {
		font-size: 27px;
	}
	.banner-area h3 {
		font-size: 20px;
	}
	.banner-area a.banner-btn {
		padding: 8px 20px;
	}
}

/*contact form*/

body{
	margin: 0;
	padding: 0;
	text-align: center;
	background: url(../1.jpg);
	background-size: cover;
	font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.title{
	margin-top: 100px;
	color: blue;
}
.title h1{
	font-size: 32px;
	line-height: 10px;
}
.title h2{
	font-size: 16px;
}
form{
	margin-top: 50px;
}
.form-control{
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color:blue;
	font-size: 18px;
	margin-bottom: 16px;
}
input{
	height: 45px;
}
form .submit{
	background: color #ff5722;
	border-color: transparent;
	color: blueviolet;
	font-size: 20px;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
	transition: 0.4s ease;

}
form .submit:hover{
	background-color: #f44336;
	cursor: pointer;
}
  .icon {
	width: 34px;
	margin-right: 0.4rem;
	margin-top: 5px;
  }
  
  .social-media {
	padding: 2rem 0 0 0;
  }
  
  .social-media p {
	color: #333;
  }
  
  .social-icons {
	display: flex;
	margin-top: 0.5rem;
  }
  
  .social-icons a {
	width: 35px;
	height: 35px;
	border-radius: 5px;
	background: linear-gradient(45deg, #1abc9c, #3711c2);
	color: #fff;
	text-align: center;
	line-height: 35px;
	margin-right: 0.5rem;
	transition: 0.3s;
  }
  
  .social-icons a:hover {
	transform: scale(1.05);
  }
  .social-media p {
	  font-size: 0.8rem;
	}
  
	.title {
	  font-size: 1.15rem;
	}
  
	.social-icons a {
	  width: 30px;
	  height: 30px;
	  line-height: 30px;
	}
  
	.icon {
	  width: 23px;
	}
  
	.input {
	  padding: 0.45rem 1.2rem;
	}
  
	.btn {
	  padding: 0.45rem 1.2rem;
	}
  
  

  /*footer*/

footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: gray;
	padding: 60px 0;
}
