* {
	margin: 0;
	padding: 0;
	font-family: Poppins, sans-serif;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: poppins;
}
ul, ul.nav {
	list-style: none;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}
header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}
header h2 span {
	color: #bf0a30;
}
header ul.nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
header ul.nav li {
	margin: 0 15px;
}
header ul.nav li:first-child {
	margin-left: 0;
}
header ul.nav li:last-child {
	margin-right: 0;
}
@media(max-width:1000px) {
	header {
		padding: 20px 50px;
	}
}
@media (max-width:700px) {
	header {
		flex-direction: column;
	}
	header h2 {
		margin-bottom: 15px;
	}
	header ul.nav li {
		margin: 0 7px;
	}
	.about-right p {
		display: none;
	}
}
.hero{
	width: 100%;
	height: 100vh;
	background-image: url(https://images.unsplash.com/photo-1622598453695-4fbaf151aadc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
	background-position: center;
	background-size: cover;
	position: relative;
}
.sidebar{
	width: 35%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-image: linear-gradient(rgba(78,0,225,0.75), rgba(7,0,60,0.85));
	padding: 20px 60px;
	color: #fff;
}
  .sidebar h1{
	margin-top: 100px;
	font-size: 40px;
	font-family: Crimson Text, sans-serif
  }
  .sidebar h3{
	font-weight: 500;
  }
  .sidebar p{
	font-size: 13px;
	margin-top: 30px;
  }
  .sidebar a{
	display: inline-block;
	text-decoration: none;
	color: #4e00ff;
	background: #fff;
	font-size: 14px;
	padding: 15px 40px;
	border-radius: 4px;
	margin-top: 30px;
  }
  #btn{
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translateY(-50%);
	width: 100px;
	cursor: pointer;
  }
  #backVideo{
	position: absolute;
	right: 0;
	bottom: 0;
	display: none;
  }
  @media (min-aspect-ratio: 16/9){
	#backVideo{
		width: 100%;
		height: auto;
	}
  }

 @media (max-aspect-ratio: 16/9){
  #backVideo{
	  width: auto;
	  height: 100%;
  }
}
  /*msg area*/

.msg-area {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://images.unsplash.com/photo-1602022578110-fbfad5644f7f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	color: #fff;
	text-align: center;

}
#whatsapp{
	position: fixed;
	bottom: 5%;
	right: 5%;
	padding: 10px;
	font-size: 30px;
	color: white;
	background: #25d366;
	border-radius: 50%;
	display: inline-block;
	text-decoration: none;
	color: #4e00ff;
}

 
 /*service area*/

h3.section-title {
	margin-top: 15px;
	text-align: center;
	font-size: 30px;

 }

ul.services-content {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.services-content li {
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}
.services-content img {
	width: 100%;
	margin-bottom: 20px;
}
.services-content li h4 {
	font-size: 20px;
	margin-bottom: 25px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 3px;
}
.services-content li p {
	margin: 0;
}
@media (max-width:1000px) {
	.services-content li {
		flex-basis: 100%;
		margin-bottom: 65px;
	}
	.services-content li:last-child {
		margin-bottom: 0;
	}
	.services-content li p {
		padding: 0;
	}
}
 /*contact area*/

ul.contact-content {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.contact-content li {
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}
.contact-content li i {
	font-size: 50px;
	color: #bf0a30;
	margin-bottom: 25px;
}
.contact-content li p {
	margin: 0;
}
@media (max-width: 1000px) {
	.contact-content li {
		flex-basis: 100%;
		margin-bottom: 65px;
	}
	.contact-content li:last-child {
		margin-bottom: 0;
	}
	.contact-content li p {
		padding: 0;
	}
}
/*footer*/

footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: blue;
	padding: 60px 0;
}
